<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>fr.davidson.sample.jee.filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/FilteredServlet1/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>fr.davidson.sample.jee.servlet.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilteredServlet1</servlet-name>
        <servlet-class>fr.davidson.sample.jee.servlet.FilteredServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilteredServlet1</servlet-name>
        <url-pattern>/FilteredServlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
